<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
        <a href="{{ site.baseurl }}">
        Blog
        </a>
      

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <br />
      <br />
      <a href="http://id.linkedin.com/in/felixsperling"><img src="/public/linkedin.svg" height="30px" class="inl" /></a> <a href="https://github.com/fsperling"><img src="/public/github.svg" height="30px" class="inl" /></a> <a href="https://twitter.com/felixsperling"><img src="/public/twitter.svg" height="30px" class="inl" /></a> <a href="http://mixcloud.com/fxsp/"><img src="/public/Mixcloud.png" height="30px" width="30px" class="inl" /></a> <a href="&#109;a&#105;l&#116;&#111;:&#102;&#46;&#115;&#112;&#101;&#114;&#108;&#105;&#110;&#103;&#64;&#103;&#109;&#120;&#46;&#100;&#101;"><img src="/public/mail.svg" height="30px" class="inl" /></a>

    </nav>

  </div>
</div>
